.title {
  background-color: rgb(44, 43, 43);
  color: white;
  margin: 0;
  padding: 10px;
}

#leftDivContainer {
  padding: 15px;
  background-color: rgb(226, 226, 226);
}

#search-button {
  height: fit-content;
  border: rgb(121, 186, 247) 3px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(85, 168, 245);
}
/* .appendListItem {
  color: gray;
} */

#rightDiv {
  background-color: lightblue;
  padding: 10px;
}
